blitzgsea @ git+https://github.com/MaayanLab/blitzgsea
feather-format==0.4.1
h5py>=3.7.0
lightgbm==3.3.4
matplotlib==3.6.0
numpy>=1.22.0
pandas>=1.5.0
qnorm==0.8.1
requests>=2.10.0
scikit_learn>=1.2.0
scipy>=1.7.0
seaborn>=0.12.0
tqdm>=4.60.0